.example-viewport {
    height: 200px;
    width: 200px;
    border: 1px solid black;
  }
  
  .example-item {
    height: 50px;
  }
.categoryBtn{
    display: -webkit-flex;
    flex-direction: row;
    height: 100%;    
    width: 50%;
    background-color: red;
  /* display: flex; */
  /* flex-direction: row; */
    width: 100vw; 
   justify-content: space-between;
  /* flex-wrap: wrap; */
 /* align-content: space-around;  */
  
}


    drag-scroll {
      height: 100px;
      width:800px;      
    }
    .btnCategory {
      height:100px;
      width: 200px;
    }
    .ui-button{
    color: black;
    background-color: white;
    border: 1px solid black;
     margin-right: 5px;
    } 
    .btnLeft , .btnRight{
    border: 1px solid white;
    height: 20px;
    width: 20px;
    background-color: palevioletred;

    }
   
    
   