<h1>ברוך הבא ל:{{name}}</h1>
  <div class="categoryBtn">
  <button (click)="getProductByCategory('1')">מוצרי חלב</button>
  <button (click)="getProductByCategory('2')">לחם</button>
  <button (click)="getProductByCategory('1')">מוצרי חלב</button>
  <button (click)="getProductByCategory('2')">לחם</button>
  <button (click)="getProductByCategory('1')">מוצרי חלב</button>
  <button (click)="getProductByCategory('2')">לחם</button>
 </div>
  <div>
    <ul>
      <li *ngFor="let p of productToShow">
        {{p}}
      </li>
    </ul>
  </div>
<app-product-list-by-category (AddProductToList)="onAddProductToList($event)" (ClickClose)="closeProductList()"[productArr]="productArr" *ngIf="flag==true"></app-product-list-by-category>
