body{
    z-index: 20;
    position: absolute;
    top:0;
    left: 0;
     background-color: chocolate;
      width: 60%;
}
.btn-close{
    text-align: center;
    width: 70%;margin: 
    auto;padding-top: 60%
}